@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    .classes-hero-banner {
        margin: auto;
        height: 45vh;
        width: 80vw;
        border-radius: 20px;
        background-color: #ccdefe;
        z-index: -1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .classes-hero-banner-image img {
        height: auto;
        width: 20vw;
    }

    .hero-banner-content-heading {
        color: #003366;
        font-size: 35px;
        font-weight: 800;
    }
    
    .hero-banner-content-text {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    
    .hero-banner-content-list {
        margin-bottom: 2px;
    }

    .classes-container {
        display: flex;
        justify-content: center;
        gap: 18px;
    }

    .individual-classes {
        background-color: #f3f2f3;
        padding: 10px;
        padding-top: 0;
        text-align: center;
        align-items: center;
        border-radius: 15px;
        margin-top: -20px;
    }

    .individual-classes-heading {
        margin: auto;
        background-color: #5e71ff;
        color: white;
        width: fit-content;
        padding: 6px 35px;
        margin-bottom: 25px;
        border-radius: 0 0 10px 10px;
        left: 50%;
        top: 0;
        /* transform: translateX(-50%); */
    }

    .individual-classes-body {
        display: flex;
    }

    .individual-classes-body-image-1 img {
        width: 10vw;
        height: auto;
    }

    .individual-classes-body-image-2 img {
        width: 10vw;
        height: auto;
    }

    .individual-classes-body-content-button {
        color: white;
        padding: 10px 60px;
        border-radius: 10px;
        background: linear-gradient(to right, #21273f, #070e20);
    }

    .individual-classes-body-content-text {
        text-align: center;
    }

    .individual-classes-body-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .second-section {
        height: 100vh;
        width: 100vw;
        background-color: aqua;
        background-image: url(../assets/glitter.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .upper, .bottom {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .upper-left, .upper-right, .bottom-left, .bottom-right {
        display: flex;
    }

    .upper-left {
        background-color: #fce4ec;
        height: 35vh;
        width: 480px;
    }
    .upper-right {
        background-color: #e9dffe;
        height: 35vh;
        width: 480px;
    }
    .bottom-left {
        background-color: #fef1cb;
        height: 35vh;
        width: 480px;
    }
    .bottom-right {
        background-color: #b4fce2;
        height: 35vh;
        width: 480px;
    }

    .info-icon img {
        width: 10vw;
    }


    @media only screen and (max-width:1024px){
        .classes-hero-banner{
            display: block;
            padding: 20px 40px;
            height: 42vh;
           position: relative;
        }

        .classes-hero-banner-image img{
      position: absolute;
      top: 25%;
      right: 6%;
            width: 34vw;
           
        }

        .hero-banner-content-heading{
            padding-bottom: 50px;
            line-height: 40px;
        }

        .classes-container{
            display: block;
        }
        
        .individual-classes{
            margin: 15px 45px;
            padding: 0px 0px 50px 0px;
        }

        .individual-classes-body{
            justify-content: space-around;
            align-items: center;
        }

        .individual-classes-body-image-1 img, .individual-classes-body-image-2 img{
            width: 19vw !important;
        }
        .individual-classes-body-content{
            line-height: 20px;
            padding-top: -200px;
            font-size: larger;
            color: rgb(56, 56, 56);
            line-height: 25px;
        }

        .individual-classes-body-content-text{
            text-align: left;
        }

        .individual-classes-body-content-button{
            margin-top: 40px;
        }
    }