/* 1. Chemistry */
:root {
    --color-dark: #062c60;
    --color-medium: #6181f6;
    --color-light: #91b5ea;
}

/* 2. Mathematics */
/* :root {
    --color-dark: #604e06;
    --color-medium: #f6e881;
    --color-light: #ead591;
} */

/* 3. Physics */
/* :root {
    --color-dark: #3e2c1c;
    --color-medium: #a67c52;
    --color-light: #d2b48c;
} */

/* 4. Biology */
/* :root {
    --color-dark: #0b3d12;
    --color-medium: #81f68b;
    --color-light: #91ea9e;
} */

/* 5. Geography */
/* :root {
    --color-dark: #001f54;
    --color-medium: #4c6ef5;
    --color-light: #637dce;
} */

/* 6. History */
/* :root {
    --color-dark: #5a2e0c;
    --color-medium: #e6a97f;
    --color-light: #b86d4e;
} */

/* 7. Civics */
/* :root {
    --color-dark: #1a1a1a;
    --color-medium: #7a7a7a;
    --color-light: #4d4d4d;
} */

/* 8. Economics */
/* :root {
    --color-dark: #4a4a4a;
    --color-medium: #d3d3d3;
    --color-light: #a9a9a9;
} */

/* 9. English */
/* :root {
    --color-dark: #600606;
    --color-medium: #f68181;
    --color-light: #ea9191;
} */

#pdf-viewer {margin-left: 5rem;}

#pdf-viewer canvas{
    border-radius: 15px;
    margin-bottom: 2rem;
}

.main-section {
    width: 70%;
    padding: 1rem;
    padding-top: 0;
}

.subject {
    display: flex;
    justify-content: space-between;
}

#video-number {
    color: grey;
}

.playlist {
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.playlist-header {
    background-color: var(--color-dark);
    padding: 1rem;
    color: white;
    /* margin-bottom: 5px; */
}

.playlist-header .chapter {
    font-size: 1.5rem;
}

.playlist-header .subject span {
    color: grey;
}

.playlist-body {
    height: 300px; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-bottom: 1rem;
}

.playlist-body .video {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.thumbnail {
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 0 3.56158px 0 black; */
}

.playlist-body {
    background-color: whitesmoke;
    color: var(--color-dark);
}

.playlist-body .active {
    background-color: var(--color-light);
    color: white;
}

.playlist-body .video:hover {
    background-color: #f0f0f0;
}

.playlist-body .active:hover {
    background-color: #B2CDF4;
}

.playlist-body .video .numbering {
    min-width: 20px;
}

.playlist-body .video:first-child {
    margin-top: 0;
}

.playlist-body .video:last-child {
    margin-bottom: 0;
}

.playlist-body .thumbnail {
    height: 56px;
    width: 100px;
}

.playlist-body .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playlist-body .video-title {
    flex-grow: 1;
}

.video-3 {
    background-color: aquamarine;
}
