del {
    margin: 0 3px;
}
.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.product-image img {
    width: 30vw;
}
.product-main-details {
    max-width: 55vw;
}
.product-heading {
    line-height: 70px;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
    color: black;
}
.product-about {
    font-size: 18px;
    margin-top: 30px;
}
.product-price {
    font-size: 40px;
}
.number-of-buyers {
    font-size: 16px;
}
.description-section {
    display: flex;
    margin-top: 20px;
    margin-top: 10px;
    font-size: 18px;
}
.description-content {
    display: none;
    margin-top: 10px;
    font-size: 18px;
}
.toggle-button {
    cursor: pointer;
    color: #0057d3;
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
}

.company-name {
    font-size: 15px;
    line-height: 1px;
}
.product-buy-button {
    color: white;
    font-size: 20px;
    background-color: #0057d3;
    border: 2px solid #0057d3;
    padding: 11px 32px 13px 32px;
    border-radius: 5px;
    cursor: pointer;
}
.product-buy-button:hover {
    color: #0057d3;
    background-color: white;
}
.description-heading {
    margin-top: 25px;
    color: black;
    font-size: 30px;
    font: bold;
    font-weight: 500;
}