<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/side-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="css/pdf-viewer.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="javascript/script.js"></script>
    <title>Document</title>
</head>

<body>
    <div>
        <div class="navbar-container">
            <div class="navbar">
                <a href="">
                    <div class="logo-container">
                        <div class="logo"><i class="fa-solid fa-city fa-2x"></i></div>
                    </div>
                </a>
                <div class="options">
                    <a href="">
                        <div class="home-icon-container">
                            <div class="home-icon"><i class="fa-solid fa-house"></i></div>
                        </div>
                    </a>
                    <a href="">
                        <div class="dashboard-icon-container">
                            <div class="dashboard-icon"><i class="fa-solid fa-table-columns"></i></div>
                        </div>
                    </a>
                    <!-- <div class="settings-icon"><i class="fa-solid fa-gear fa-2x"></i></div> -->
                </div>
                <a href="">
                    <div class="user-icon-container">
                        <div class="user-icon"><img class="user-image" src="assets/user.png" alt=""></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="main-section">
        </div>
        <div class="utils-section"></div>
    </div>